################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/Kitaphanem/.vs/Kitaphanem/FileContentIndex
/Kitaphanem/obj
/.vs
